body {
	margin: 10px;
}

.graph {
	padding: 0; margin: 0;
}

.graph-box {
	background-color: white;
	border: 1px solid #999;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	display: inline-block;
}

.box-header {
    text-align: center;
    margin: 0px;
    padding: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.canvas-box {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

.node {
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	position: absolute;
	background: green;
	border-radius: 4px;
	width: 80px; height: 60px;
	text-align: center;
	line-height: 60px;
}

.node-ctrl {
	background-color: royalblue;
}
.node.selected {
	box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}

.arrow {
	display: none;
	color: green;
}

.arrow-ctrl {
	display: none;
	color: royalblue;
}

.palette {
	margin-left: 10px;
	height: 507px;
	vertical-align: top;
	overflow-y: auto;
}

.palette > .node {
	position: static;
	margin: 5px 5px 0px 5px;
	cursor: copy;
}

.params-box {
	height: 210px;
	width: 805px;
	margin-top: 5px;
	margin-bottom: 10px;
	overflow-x: auto;
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 50px;
	height: 125px;
	padding: 0 5px;
	display: inline-block;
}

.slider-box {
	display: inline-block;
	text-align: center;
	width: 100px;
	margin-top: 7px;
	font-size: 90%;
	line-height: 1.4em;
}

.slider-box input[type=number] {
	width: 60px;
	text-align: center;
	margin-bottom: 5px;
}

.choice-box {
	display: inline-block;
	text-align: center;
	width: 100px;
	margin-top: 10px;
	font-size: 90%;
	line-height: 1.4em;
}

.choice-box select {
	border-radius: 3px;
}
