body {
	/* TODO remove after using Bootstrap */
	font-family: sans-serif;
}

.graph {
	padding: 0; margin: 0;
}

.canvas-box {
	border: 1px solid gray;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.node {
	position: absolute;
	background: #BFF2FF;
	border: 2px solid #5DA6FF;
	border-radius: 5px;
	width: 80px; height: 60px;
	text-align: center;
	line-height: 60px;
}

.node.selected {
	border: 2px solid #004ACF;
	box-shadow: 5px 5px 2px rgba(0,0,0,0.4);
}

.arrow {
	display: none;
	color: #5DA6FF;
}

.palette {
	border: 1px solid gray;
	margin-left: 5px;
	display: inline-block;
	height: 504px;
	vertical-align: top;
}

.palette > .node {
	position: static;
	margin: 5px 5px 0px 5px;
	cursor: copy;
}

.params-box {
	border: 1px solid gray;
	height: 200px;
	width: 805px;
	margin-top: 5px;
	margin-bottom: 10px;
	overflow: auto;
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 50px;
	height: 150px;
	padding: 0 5px;
}

.slider-box {
	display: inline-block;
	text-align: center;
	width: 100px;
	margin-top: 15px;
	font-size: 90%;
	line-height: 1.4em;
}
