@import url(https://fonts.googleapis.com/css?family=Electrolize);

body {
	margin: 10px;
	font-family: Electrolize, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
	max-width: 810px;
	margin: auto;
}

.app-navbar {
	width: 810px;
	margin: -3px auto 5px;
	position: relative;
}

.normal-font {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*----- General -----*/

.graph {
	padding: 0; margin: 0;
}

.graph-row {
	white-space: nowrap;
}

.graph-box {
	background-color: white;
	border: 1px solid #999;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	display: inline-block;
}

.box-header {
    text-align: center;
    margin: 0px;
    padding: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	font-weight: bold;
	font-size: 105%;
}

.canvas-box {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}


/*----- Node styles -----*/

.node {
	color: white;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
	position: absolute;
	background-color: green;
	border-radius: 4px;
	width: 80px;
	height: 50px;
	text-align: center;
	display: table;
	/*line-height: 60px;*/
}

.node-text {
	display: table-cell;
	vertical-align: middle;
}

.node-src {
	background-color: #36B75D;
}

.node-effect {
	background-color: royalblue;
}

.node-out {
	background-color: #41A6E1;
}

.node-ctrl {
	background-color: #C841E1;
}

.node.selected {
	box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
}

.arrow {
	display: none;
	color: royalblue;
}

.arrow-ctrl {
	display: none;
	color: #C841E1;
}

/*----- Palette box -----*/

.palette {
	margin-left: 10px;
	height: 452px;
	vertical-align: top;
	width: 92px;
	overflow: hidden;
	padding-bottom: 26px;
}

.palette .node {
	position: static;
	margin: 5px 5px 0px 5px;
	cursor: copy;
}

.palette-section {
	margin: 3px 4px -4px 4px;
	text-align: center;
	font-size: 90%;
}

/*----- Params box -----*/

.params-box {
	height: 210px;
	width: 605px;
	margin-top: 5px;
	margin-bottom: 10px;
	overflow-x: auto;
	display: inline-block;
	position: static;
	white-space: normal;
}

input[type=range][orient=vertical] {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 50px;
	height: 125px;
	padding: 0 5px;
	display: inline-block;
}

.slider-box {
	display: inline-block;
	text-align: center;
	width: 100px;
	margin-top: 7px;
	font-size: 90%;
	line-height: 1.4em;
}

.slider-box input[type=number] {
	width: 60px;
	text-align: center;
	margin-bottom: 5px;
}

.choice-box {
	display: inline-block;
	text-align: center;
	width: 100px;
	margin-top: 10px;
	font-size: 90%;
	line-height: 1.4em;
}

.choice-box select {
	border-radius: 3px;
}

.del-node-but {
	float: right;
	margin-top: 145px;
	margin-right: 15px;
}


/*----- Preset box -----*/

.presets-box {
	height: 210px;
	width: 190px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	vertical-align: top;
	display: inline-block;
}

#preset-num {
	display: inline-block;
	width: 40px;
	font-size: 130%;
	text-align: center
}

#preset-name {
	width: 100%;
	text-align: center;
}

.upload {
  position: relative;
}

.upload input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----- Piano box -----*/

.piano-box {
	width: 550px;
	height: 140px;
	padding: 10px 10px 0 10px;
	position: relative;
}

.piano-key {
	margin-left: -1px;
	background-color: white;
	border: 1px solid black;
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
}

.piano-black {
	background-color: black;
	position: absolute;
}

.piano-key-pressed {
	background-color: #0CC;
}

#piano-buttons {
	width:550px;
	height: 40px;
	padding: 5px 10px 10px 10px;
	text-align: center;
}

.audio-graph {
	width: 222px;
	height: 75px;
	background-color: #444;
	border-radius: 5px; margin: 10px;
	box-shadow: inset 0px 0px 10px 5px rgba(85,163,26,0.6);
}

.editor-cover {
	position: absolute;
	top: 46px;
	width: 99%;
	height: 674px;
	z-index: 1000;
	opacity: 0.85;
	background-color: white;
	display: table;
}

.editor-cover > p {
	display: table-cell;
	font-size: 150%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
}
